<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		
	</head>
	<body>

			<div id="wrapper">

					<header id="header" class="alt">
						<span class="logo"><img src="/static/img/logo.png" alt="" style="width: 25%;" /></span>
						<h1>HTML Learner</h1>
						<p>Developed by <a href="https://vk.com/tumkas">@tumkas</a></p>
					</header>

					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Инфа</a></li>
							<li><a href="#first">Почему мы?</a></li>
							<li><a href="#second">О курсе</a></li>
							<li><a href="#cta">Хотите начать?</a></li>
						</ul>
					</nav>

					<div id="main">
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Мы опен-сурс проект направленный на поддержание новых разработчиков!</h2>
										</header>
										<p>Мы - открытый курс по изучению баз CSS и HTML, после котороых вы сможете написать свой собственный сайт-визитку.</p>
										<ul class="actions">
											<li><a href="#first" class="button">Больше</a></li>
										</ul>
									</div>
									<span class="image"><img src="/static/img/pic.jpg" alt="" /></span>
								</div>
							</section>


							<section id="first" class="main special">
								<header class="major">
									<h2>Информация</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon major style1 fa-code"></span>
										<h3>Учим</h3>
										<p>Мы действительно тщательно объясняем нашим пользователям, содержание курса.</p>
									</li>
									<li>
										<span class="icon major style3 fa-copy"></span>
										<h3>Краткие сроки</h3>
										<p>За краткие сроки вы познакомитесь с базовыми понятиями HTML, а также оформлением страницы при помощи CSS.</p>
									</li>
									<li>
										<span class="icon major style5 fa-diamond"></span>
										<h3>Коммуникативность</h3>
										<p>Наше сообщество, объяснит вам что да как, если вы чего-то не поняли или не усвояли.</p>
									</li>
								</ul>
								<footer class="major">
									<ul class="actions">
										<li><a href="#second" class="button">Далее</a></li>
									</ul>
								</footer>
							</section>


							<section id="second" class="main special">
								<header class="major">
									<h2>Почему мы?</h2>
									<p>Мы - это</p>
								</header>
								<ul class="statistics">
									<li class="style1">
										<span class="icon fa-code"></span>
										<strong>12,342</strong> строчек
									</li>
									<li class="style2">
										<span class="icon fa-users"></span>
										<strong>8,192</strong> Довольных участников
									</li>
									<li class="style3">
										<span class="icon fa-laptop"></span>
										<strong>2,048</strong> Созданных сайтов
									</li>
									<li class="style4">
										<span class="icon fa-signal"></span>
										<strong>20,000</strong> Просмотров в день
									</li>
								</ul>
								<footer class="major">
									<ul class="actions">
										<li><a href="#cta" class="button">Удивлены? Тогда присоединяйтесь к нам!</a></li>
									</ul>
								</footer>
							</section>

							<section id="cta" class="main special">
								<footer class="major">
									<ul class="actions">
										<li><a href="/lesson" class="button special">Приступить!</a></li>
									</ul>
								</footer>
							</section>

					</div>


			</div>

			<script src="/static/jquery.min.js"></script>
			<script src="/static/jquery.scrollex.min.js"></script>
			<script src="/static/jquery.scrolly.min.js"></script>
			<script src="/static/skel.min.js"></script>
			<script src="/static/util.js"></script>
			<script src="/static/main.js"></script>

	</body>
</html>